h1 {
    color: darkgreen;
}

main-header {
    font-family: Georgia, 'Times New Roman', Times, serif;7
}

.center{
    text-align: center;
}

#pixels{
    font-size: 25px;
    
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h5 {
    text-transform: uppercase;
}

#left{
    text-align: left;
}

ol > li {
    font-style: italic;
}

.center#float {
    size: 1px;
}